body{
    background-color: black;
}
header{
    background-color: rgb(35, 173, 7);
    padding: 3%;
}
.logo{
    background-color: rgb(35, 173, 7);
}
nav{
    background-color: rgb(35, 173, 7);
}
main{
    background-color: black;
    width: 80%;
    margin: auto;
}
section{
    background-color: rgb(2, 2, 22);
    text-align: center;
    color: white;
}
footer{
    background-color: green;
    padding: 3%;
}
.titulo{
    background-color: aqua;
    font-size: 1.5em;
}
.texto{
    background-color: rgb(2, 2, 22);
    text-align: center;
    color: white;
}
.definicao{
    background-color: rgb(2, 2, 22);
    text-align: center;
    color: white;
}
.subtitulo{
    font-size: 1.3em;
}
h1{
    line-height: 3;
    font-weight: bolder;
}
h2{
    line-height: 2;
    font-weight: bold;
}
.subtitulo2{
    font-size: 1.1em;
}