body{
    background-color: black;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    /*font-weight: weight;*/
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
}
header{
    background-color: black;
}
.logo{
    color: green;
    width: 20%;
    padding-left: 2%;
}
.imagemlogo{
    width: 100%;
}
nav{
    color: green;
}
main{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
section{
    text-align: center;
    color: green;
    background-color: black;
}
footer{
    padding: 3%;
    color: green;
}
.titulo{
    font-size: 2.0em;
    color: greenyellow;
    background-color: black;
}
.texto{
    background-color:black;
    text-align: center;
    color: green;
}
.definicao{
    background-color: rgb(2, 2, 22);
    text-align: center;
    color: white;
}
.subtitulo{
    font-size: 1.3em;
    color: greenyellow;
}
h1{
    line-height: 3;
    font-weight: bolder;
}
h2{
    line-height: 2;
    font-weight: bold;
}
.subtitulo2{
    font-size: 1.3em;
}
td{
    text-align: center;
    line-height: 1;
    padding: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid green;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid greenyellow;
    width: 50%;
}

.link{
    display: grid;
    font-size: 1.3em;
}
.linha{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.col-3{
    margin-right: auto;
    margin-left: auto;
}
.col-3 p {
    font-size: 1rem;
    text-align: center;
}
.imgaleria{
    width: 100%;
    padding: 20px;
}
a:link{
    color: green;
}
a:visited{
    color: greenyellow;
}
a:hover{
    color: greenyellow;
    font-size: 130%;
}
a{
    text-align: center;
}
.rodape{
    display: grid;
}
.direita{
    float: right;
    width: 27%;
    border-bottom: 2%;   
}
* {
    box-sizing: border-box;
  }
  @media only screen and (max-width: 9999px){
    .col-3{
        width: 25%;
    }
}
  @media only screen and (max-width: 850px){
    .col-3{
        width: 50%;
    }
}
@media only screen and (max-width: 550px){
    .col-3{
        width: 100%;
    }
}
/* criar temas de cores diferentes como sépia, entre outros nos links do começo*/

.xadrez{
    position: relative;
}
.imagemxadrez{
    width: 100%;
}
.diagonaltopo{
    position: absolute;
    top: 8%;
    right: 80%;
    color: #ffff;
    width: 15%;
    font-size: 100%;

}
.meio{
    position: absolute;
    top: 47%;
    left: 40%;
    right: 45%;
    bottom:45%;
    color: #ffffff;
    width: 20%;
    font-size: 100%;
}
.diagonalbaixo{
    position: absolute;
    left: 80%;
    top: 8%;
    color: #ffffff;
    width: 15%;
    font-size: 100%;
}
@media screen and (max-width: 600px) {
    .diagonaltopo, .diagonalbaixo{
        font-size: 80%;
    }
    .meio{
        font-size: 80%;
    }
}
@media screen and (max-width: 480px) {
    .diagonaltopo, .diagonalbaixo{
        font-size: 60%;
    }
    .meio{
        font-size: 60%;
    }
}
@media screen and (max-width: 370px) {
    .diagonaltopo, .diagonalbaixo{
        font-size: 40%;
    }
    .meio{
        font-size: 40%;
    }
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap row;
    align-items: center;
    padding-bottom: 5%;
}
.menu{
    width: 50%;
    margin-left: 20%;
}
.menu li{
    float: left;
    padding-left: 2%;
}
@media screen and (max-width: 600px) {
    header{
        align-items: center;
        display: flex;
        flex-flow: column;
    }
    .menu{
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
}